# Node files
pocs/node/sample-app/node_modules
pocs/node/sample-app/npm-debug.log
pocs/node/sample-app/src/*.json
!pocs/node/sample-app/src/package.json.json

# IDEs / Text editors
.idea
.vscode

# Misc
*.log
.DS_Store
